[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/css-color.vim"]
	path = bundle/css-color.vim
	url = https://github.com/skammer/vim-css-color.git
[submodule "bundle/vimpress"]
	path = bundle/vimpress
	url = https://github.com/PotHix/Vimpress.git
[submodule "bundle/vimprepress"]
	path = bundle/vimprepress
	url = https://github.com/vim-scripts/VimRepress.git
[submodule "bundle/vimrepress"]
	path = bundle/vimrepress
	url = https://github.com/vim-scripts/VimRepress.git
